<!DOCTYPE html>
<html>
  <head>
    <title>Symple</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_page?(root_path) %>
      <%= render 'layouts/templates/home_header' %>
    <% else %>
      <%= render 'layouts/templates/header' %>
    <% end %>

    <%= yield %>

    <%= render 'layouts/templates/footer' %>
  </body>
</html>
